<!--This is the heading of the Webpage-->
<h4 class="text-md-center m-5">Search flight</h4>

<!--The flight searchbar -->
<div class="row">
  <div class="col">
    <div class="form-floating">
      <input placeholder="From" class="form-control" />
      <label class="text-primary form-label" >From</label>
    </div>
  </div>
  <div class="col">
    <div class="form-floating">
      <input placeholder="Destination" class="form-control" />
      <label class="text-primary form-label" >Destination</label>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col">
    <div class="form-floating">
      <input type="date" placeholder="From" class="form-control" />
      <label class="text-primary form-label">From Date</label>
    </div>
  </div>
  <div class="col">
    <div class="form-floating">
      <input type="date" placeholder="Destination" class="form-control" />
      <label class="text-primary form-label">To Date</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-end">
    <label class="form-label text-primary mt-2">Number of Passengers</label>
  </div>
  <div class="col">
    <div class="input-group">
      <div class="input-group-text">For</div>
      <input class="form-control" type="number" placeholder="1" />
      <div class="input-group-text">Passengers</div>

      <button type="submit" class="btn-primary btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

</div>
<!--End of searchbar-->

<div *ngFor="let flight of searchResult">
  {{flight}}
</div>
